@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #333;
  color: #fff;
  line-height: 1.6;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

#container {
  max-width: 600px;
  margin: 0 auto;
}

.show-form {
  padding: 2rem;
  background-color: #444;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.hide-form {
  display: none;
}

textarea,
input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: inherit;
  resize: vertical;
  background-color: #555;
  color: #fff;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin: 1rem 0;
  color: #fff;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

button[type="submit"] {
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #ddd;
}

#result {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #444;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.hide-result {
  display: none;
}
